################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.vsidx
/Productive/.vs/Productive/v17/.suo
/Productive/Productive/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Productive/Productive/obj/Debug/Productive_MarkupCompile.i.cache
/Productive/Productive/obj/Debug/Productive_MarkupCompile.i.lref
/.vs/slnx.sqlite
/Productive/Productive/obj/Debug/App.g.cs
/Productive/Productive/obj/Debug/App.g.i.cs
/.vs/CSCI-352-Semester-Project/FileContentIndex/10885e11-8425-459f-9771-854045aeec10.vsidx
/.vs/CSCI-352-Semester-Project/FileContentIndex/29530610-b903-46b4-8c43-0c2836c9b3ec.vsidx
/.vs/CSCI-352-Semester-Project/FileContentIndex/3fd7988e-140a-4592-886c-0105903c498b.vsidx
/.vs/CSCI-352-Semester-Project/FileContentIndex/777a097e-5f2f-4b71-9b60-101a67dad3cd.vsidx
/.vs/CSCI-352-Semester-Project/FileContentIndex/a09dcd63-76a3-48d1-bc05-d1fdf43fdb45.vsidx
/.vs/CSCI-352-Semester-Project/FileContentIndex/c9d37e49-c078-4beb-a998-5a288c87a2f1.vsidx
/.vs/CSCI-352-Semester-Project/FileContentIndex/d7730c78-7225-46a8-960a-eaec94871717.vsidx
/.vs/CSCI-352-Semester-Project/FileContentIndex/ded88719-3785-4182-bad4-54b7a25409f1.vsidx
/.vs/CSCI-352-Semester-Project/FileContentIndex/10885e11-8425-459f-9771-854045aeec10.vsidx
/.vs/CSCI-352-Semester-Project/FileContentIndex/29530610-b903-46b4-8c43-0c2836c9b3ec.vsidx
/.vs/CSCI-352-Semester-Project/FileContentIndex/3fd7988e-140a-4592-886c-0105903c498b.vsidx
/Productive/Productive/obj/Debug/Productive Main Window.csproj.AssemblyReference.cache
/Productive/Productive/obj/Debug/Productive_MarkupCompile.cache
/Productive/Productive/obj/Debug/Productive_MarkupCompile.lref
/Productive/Productive/obj/Debug/App.baml
/Productive/Productive/obj/Debug/EventsSubWindow.baml
/Productive/Productive/obj/Debug/MainWindow.baml
/Productive/Productive/obj/Debug/NotePad.baml
/Productive/Productive/obj/Debug/Productive Main Window.csproj.CoreCompileInputs.cache
/Productive/Productive/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
/Productive/Productive/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/Productive/Productive/obj/Debug/Productive Main Window.csproj.GenerateResource.cache
/Productive/Productive/obj/Debug/Productive.pdb
/Productive/Productive/obj/Debug/Productive.exe
/Productive/Productive/obj/Debug/Productive Main Window.csproj.FileListAbsolute.txt
/Productive/Productive/obj/Release/Productive_MarkupCompile.cache
/.vs/VSWorkspaceState.json
/Productive/Productive/obj/Debug/TempPE/UserInfoDatabaseDataSet.Designer.cs.dll
/Productive/Productive/bin/Debug/Productive.exe
/Productive/Productive/bin/Debug/Productive.pdb
/Productive/Productive/UserInfoDatabase.mdf
/Productive/Productive/UserInfoDatabase_log.ldf
/.vs/CSCI-352-Semester-Project/v17/.wsuo
/Productive/.vs/Productive/v17/TestStore/0
/.vs/slnx.sqlite-journal
/Productive/Productive/obj/Debug/NotePad.g.i.cs
/Productive/Productive/obj/Debug/Productive.g.resources
/Productive/Productive/obj/Debug/UserLogin.g.i.cs
/Productive/Productive/obj/Debug/UserLogin.baml
/Productive/Productive/obj/Debug/MainWindow.g.cs
/Productive/Productive/obj/Debug/MainWindow.g.i.cs
/Productive/Productive/obj/Debug/UserLogin.g.cs
/Productive/Productive/obj/Release/MainWindow.g.cs
/Productive/Productive/obj/Release/Productive_MarkupCompile.lref
/Productive/Productive/obj/Release/UserLogin.g.cs
/Productive/Productive/obj/Debug/EventsSubWindow.g.cs
/Productive/Productive/obj/Debug/EventsSubWindow.g.i.cs
/Productive/Productive/obj/Release/EventsSubWindow.g.cs
/Productive/Productive/obj/Debug/AddEventSubWindow.baml
/Productive/Productive/obj/Debug/Productive Main Window_mblfue2z_wpftmp.csproj.AssemblyReference.cache
/Productive/Productive/ProductiveDatabase.mdf
/Productive/Productive/ProductiveDatabaseDataSet.xsc
/Productive/Productive/ProductiveDatabaseDataSet.Designer.cs
/Productive/Productive/ProductiveDatabaseDataSet.xsd
*.cache
/Productive/Productive/ProductiveDatabaseDataSet.xss
/Productive/Productive/ProductiveDatabase_log.ldf
/Productive/Productive/obj/Release/Productive_Content.g.cs
/Productive/Productive/obj/Debug/Productive_Content.g.cs
/Productive/Productive/SQL Files/dbo.Table_1.sql
/Productive/Productive/SQL Files/dbo.Table.sql
