<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Productive.Properties.Settings.UserInfoDatabaseConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\UserInfoDatabase.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Productive.Properties.Settings.UserInformationDatabaseConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\UserInformationDatabase.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Productive.Properties.Settings.ProductiveDatabaseConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\ProductiveDatabase.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Productive.Properties.Settings.PPMDatabaseConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\PPMDatabase.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>